<ion-view view-title="List">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="p in playlists">
                {{p.title}}
            </ion-item>
        </ion-list>
        <label class="item item-input">
            <span class="input-label">Title</span>
            <input type="text" ng-model="formData.title">
        </label>
        <div class="padding">
            <button class="button button-block button-positive" type="button" ng-click="addPlaylist()">
                Add Playlist
            </button>
        </div>
    </ion-content>
</ion-view>
